.People-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  flex: 0 5 calc(20% - 20px);
}

.Loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  height: 45%;
  width: 45%;
}

.FilterTool {
  width: 20%;
  display: flex;
  margin-left: 1.8em;
  color: white;
}
