.pag {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1.5em;
}

.pag-li {
  padding: 10px;
  font-size: 18px;
  display: inline-block;
  max-width: 50%; /* limit width */
  word-break: break-all; /* wrap extended text*/
}

.pag-a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #80c565;
}

.pag-ul {
  list-style: none;
}
